<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand d-flex gap-1 fw-bold fs-4" href="#">
            <span class="jatra-logo">
                <span class="jatra-text">jatra</span><span class="jatra-dot"></span><span class="software-text">software</span>
            </span>
        </a>

        <!-- Toggler for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav gap-3">
                <li class="navLinkItem"><a class="nav-link navLink text-dark fw-medium" href="#">Home</a></li>
                <li class="navLinkItem"><a class="nav-link navLink text-dark fw-medium" href="/about">About</a></li>
                <li class="navLinkItem"><a class="nav-link navLink text-dark fw-medium" href="/services">Services</a></li>
                @* <li class="navLinkItem"><a class="nav-link navLink text-dark fw-medium" href="#">Products</a></li>
                <li class="navLinkItem"><a class="nav-link navLink text-dark fw-medium" href="#">Portfolio</a></li> *@
                <li class="navLinkItem"><a class="nav-link navLink text-dark fw-medium" href="/blog">Blogs</a></li>
                <li class="navLinkItem"><a class="nav-link navLink text-dark fw-medium" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>