/* --- Base Colors & Text --- */
.base-text {
    color: #555555; 
}

/* --- Titles --- */
.base-main-title {
    color: #333333;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.1;
}

.base-subtitle-text {
    color: #3CB9E0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.4;
}

/*Button*/
.base-btn-secondary {
    background-color: transparent; 
    color: #3CB9E0;
    border: 1px solid #3CB9E0; 
    padding: 0.75rem 1.5rem; 
    border-radius: 0.25rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

    /* Secondary Button - hover state */
    .base-btn-secondary:hover {
        background-color: #3CB9E0;
        color: black;
        border-color: #0edcff;
    }

/* Footer Background Color */
.base-footer-bg {
    /*background-color: #222222; */
    background: linear-gradient(135deg, #001829, #00324d);
    color: #DDDDDD;
}

/* Light Background Color */
.base-light-bg {
    background-color: #F8F8F8; 
}

/* White Background Color */
.base-white-bg {
    background-color: #FFFFFF; 
}
